body {
	background-image: url('concert-stage.jpg');
	background-repeat: no-repeat;
	background-size: auto;
}

h1 {
	text-align: center;
	color: blue;
}

img {
  position: relative;
  left: 0;
  top: 0;
  width: 100px;
  height: 167px;
}

audio {
	block: inline;
	display:none;
}
