body {
	background-image: url('concert-stage.jpg');
	background-repeat: no-repeat;
	background-size: auto;
}


h1 {
	text-align: center;
	color: blue;
}

img {
    display: block;
    margin: auto;
    text-align: center;
    position:relative;
    width: 100px;
  	height: 167px;
 }

audio {
	block: inline;
	display:none;
}
